.flex-grid {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 400px) {
    display: block;
  }
  .card {
    flex: 1 0 32%;
    background: #f1f1f1;
    margin: 5px;
    padding: 5px;
  }
}
