.flex-grid {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 400px) {
    display: block;
  }
  .card {
    position: relative;
    flex: 1 0 32%;
    margin: 0.5em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    .margin {
      height: 2em;
    }
    .article-image {
      cursor: pointer;
    }
    .text-content {
      padding: 0 1.5em 1.5em;
      .article-title,
      .article-description {
        cursor: pointer;
      }
      .category-container {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        top: 1em;
        left: 1.5em;
        .category {
          background: #a66bbe;
          color: #fff;
          text-transform: uppercase;
          border-radius: 2em;
          padding: 0.4em 0.7em;
          font-size: 0.8em;
          margin-right: 0.5em;
          margin-bottom: 0.4em;
        }
      }
      .article-description {
        font-size: 0.9em;
      }
      .bottom {
        font-size: 0.8em;
        color: #808080;
        margin-top: 1em;
        .creator {
          margin-right: 0.5em;
        }
      }
    }
  }
}
